<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PergiPergi</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    </head>    
<body>
<nav th:replace="fragments/fragment :: navbar('user')"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>UpdatePassword</h2>
                <br>
                <p th:text="${message}" class="alert alert-info" role="alert"></p>
                <form th:action="@{/user/update-password}" method="POST">
                    <input type="hidden" name="username" th:value="${#httpServletRequest.userPrincipal.name}">

                    Password Lama 
                    <input class="form-control" type="password" name="password">
        
                    Password Baru </label>
                    <input class="form-control" type="password" name="newPassword" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$"
                    title="password harus mengandung angka, huruf besar, huruf kecil, dan simbol serta minimal memiliki 8 karakter">
                    
                    Konfirmasi Password Baru
                    <input class="form-control" type="password" name="new2Password" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$" 
                    title="password harus mengandung angka, huruf besar, huruf kecil, dan simbol serta minimal memiliki 8 karakter">
            
                    <button type="submit" class="btn btn-primary">Simpan</button>
        
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>