<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PergiPergi</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    </head>    
<body>
<nav th:replace="fragments/fragment :: navbar('agensi')"></nav>
<div class="container">
        <div class="card-body">
            <h2>Agensi</h2>
            <div class="justify-content-center">
                    <div th:if="*{listAgensi.size() != 0}">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>Id Agensi</th>
                            <th>Nama Agensi</th>
                            <th>Alamat Agensi</th>
                            <th>Nomor Telepon</th>
                            <th>Waktu Buka</th>
                            <th>Waktu Tutup</th>
                            <th>Lihat</th>
                            <th>Ubah</th>
                            <th>Hapus</th>
                        </tr>    
                        </thead>
                        <tbody>

                        <tr th:each="agensi, iterationStatus : ${listAgensi}"
                            th:style="${iterationStatus.even} ? 'font-weight:bold;'">
                            <td th:text="${iterationStatus.count}"></td>
                            <td th:text="${agensi.noAgensi}"></td>
                            <td th:text="${agensi.namaAgensi}"></td>
                            <td th:text="${agensi.alamatAgensi}"></td>
                            <td th:text="${agensi.noTeleponAgensi}"></td>
                            <td th:text="${agensi.waktuBuka}"></td>
                            <td th:text="${agensi.waktuTutup}"></td>
                            <td>
                                <a class="btn btn-primary" th:href="@{/agensi/view(noAgensi=${agensi.noAgensi})}">Detail</a>
                            </td>
                            <td>
                                <a class="btn btn-primary" th:href="@{/agensi/update/} + ${agensi.noAgensi}">Update</a>
                            </td>
                            <td>
                                <a class="btn btn-primary" th:href="@{/agensi/delete/} + ${agensi.noAgensi}">Hapus</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </div>

                    <div th:unless="*{listAgensi.size() != 0}">
                        <h2 th:text="'Tidak ada Agensi'"></h2>
                    </div>
                <br>
                <a class="btn btn-primary" href="/">Home</a>
            </div>
        </div>
</div>

</body>
</html>